{% extends 'layout.html' %}
{% block body %}
<script src="{{url_for('static', filename='js/validar.js')}}"></script> 
<div class="container" height="520">
  <div class="text-center" style="padding:10px 0" >
    <div class="register-form">
      <h1 class="text-center">Register</h1>
        <form action="" method="POST">
          <div class="form-group">
            <label>nombre completo</label>
            <input type="text" name="fullname" id ="fullname" value="" class="form-control" placeholder="nombre completo" >
          </div>
          <div class="form-group">
            <label>email</label>
            <input type="text" name="email" id ="email" value="" class="form-control" placeholder="direccion de correo" >
          </div>
          <div class="form-group">
            <label>usuario</label>
            <input type="text" name="username" id ="username"value=""  class="form-control" placeholder="usuario" >
          </div>
          <div class="form-group">
            <label>country</label>
            <input type="text" name="country" id ="country"value=""  class="form-control" placeholder="pais" >
          </div> <div class="form-group">
            <label>ciudad</label>
            <input type="text" name="city" id ="city" value="" class="form-control" placeholder="ciudad" >
          </div> <div class="form-group">
            <label>contraseña</label>
            <input type="text" name="password" id ="password" value="" class="form-control" placeholder="contraseña" >
          </div>
          <div class="form-group" for="Tipo">Tipo de persona: 
            <br>
            <div class="form-group">
              <select class="form-select" aria-label="Default select example" id="typeUsers" name="typeUsers">
                  <option value="">Selecciona tu Rol</option>
                  <option value="anfitrion">Anfitrión</option>
                  <option value="invitado">Invitado</option>
              </select>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <p><input  type="submit" class="btn btn-primary " value="Submit"></p>
                </div>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
    </div>
  </div>
</div> 
{% endblock %}
  
